{% load static %}

<style media="screen">
  .market-update-block {
    padding: 2em 2em;
    background: #999;
  }
  .market-update-block h3 {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Carrois Gothic', sans-serif;
  }
  .market-update-block h4 {
    color: #fff;
    font-size: 0.8em;
    font-family: 'Carrois Gothic', sans-serif;
    margin: 0.3em 0em;
  }
  .market-update-block.clr-block-1 {
    background: #ff0000;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  }
  .market-update-block.clr-block-2 {
    background: #FC8213;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  }
  .market-update-block.clr-block-3 {
    background: #1355f9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  }
  .market-update-block.clr-block-1:hover,
  .market-update-block.clr-block-2:hover,
  .market-update-block.clr-block-3:hover {
    background: #3C3C3C;
  }
  .market-update-right i.fa {
    font-size: 3em;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    line-height: 1.7em;
  }
  .market-update-right i.fa-user-o { color: #68AE00; }
  .market-update-right i.fa-info-circle { color: #FC8213; }
  .market-update-right i.fa-map-marker { color: #337AB7; }
  .market-update-right i.fa-list-alt { color: #9b59b6; }
  .market-update-right i.fa-calendar-o { color: #e74c3c; }
  .market-update-right i.fa-mobile { color: #3498db; }
  .market-update-left {
    padding: 0px;
  }
  /* 响应式 */
  @media (max-width: 768px) {
    .market-update-block.clr-block-1,
    .market-update-block.clr-block-2 {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
</style>

<div class="container-fluid" style="margin-top: 20px;">
  <!-- 第一行 -->
  <div class="row">
    <div class="col-md-4">
      <div class="market-update-block clr-block-1">
        <div class="row">
          <div class="col-8 market-update-left">
            <h3>{{doctorName}}</h3>
            <h4>Doctor Name</h4>
          </div>
          <div class="col-4 market-update-right">
            <i class="fa fa-user-o"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="market-update-block clr-block-2">
        <div class="row">
          <div class="col-8 market-update-left">
            <h3>{{symptoms}}</h3>
            <h4>Symptoms</h4>
          </div>
          <div class="col-4 market-update-right">
            <i class="fa fa-info-circle"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="market-update-block clr-block-3">
        <div class="row">
          <div class="col-8 market-update-left">
            <h3>{{doctorMobile}}</h3>
            <h4>Doctor Mobile</h4>
          </div>
          <div class="col-4 market-update-right">
            <i class="fa fa-mobile"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <!-- 第二行 -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
      <div class="market-update-block clr-block-1">
        <div class="row">
          <div class="col-8 market-update-left">
            <h3>{{doctorAddress}}</h3>
            <h4>Doctor Address</h4>
          </div>
          <div class="col-4 market-update-right">
            <i class="fa fa-map-marker"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="market-update-block clr-block-2">
        <div class="row">
          <div class="col-8 market-update-left">
            <h3>{{doctorDepartment}}</h3>
            <h4>Doctor Department</h4>
          </div>
          <div class="col-4 market-update-right">
            <i class="fa fa-list-alt"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="market-update-block clr-block-3">
        <div class="row">
          <div class="col-8 market-update-left">
            <h3>{{admitDate}}</h3>
            <h4>Admit Date</h4>
          </div>
          <div class="col-4 market-update-right">
            <i class="fa fa-calendar-o"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
